<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>citify {{ today }} calendar</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        body {
            margin-left: 8px;
            margin-top: 5px;
        }
    </style>
</head>
<body>
<nav style="text-align: center"><a href="/date/{{ tomorrow }}">tomorrow</a> | <a href="/">today:{{ today }}</a> | <a href="/pull/">update</a> |
    <a href="/all/1">surf all</a></nav>
{% for event in events %}
    <details>
        <summary title="{{ event[3] }}" >{{ event[1] }},{{ event[0][:40] }},{{ event[9] }},
            {{ event[10] }}@{{ event[2] }}-{{ event[5] }}</summary>
        <div>{{ event[3] }}</div>

    </details>
    <div style="clear: both;">
        <button onclick="up1({{ event[8] }})" title="get it up" class="btn btn-primary btn-lg">▲</button>
        <button onclick="down1({{ event[8] }})" title="get it down" class="btn btn-primary btn-lg">▼</button>

        <a href="https://www.google.com.ua/maps/search/{{ event[2] }}" target="_blank">show on map</a> |
        <a href="{{ event[4] }}" target="_blank"
            title="original event link will be opened in new tab"> link to {{ event[0][:10]  }}</a>
{#        <button class="btn btn-danger btn-sm" style="float: right;">hide</button>#}

{#        <button disabled>отписатся</button>#}
    </div>
{% endfor %}
<script src="/static/jquery.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
<script>
    function down1(id) {
        jQuery.get('/down1/' + id, function () {
        });
    }

    function up1(id) {
        jQuery.get('/up1/' + id, function () {
        });
    }

</script>

</body>
</html>